<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<div>
    <p>Wellcome {{ name }} | This is your personal medical emergency app | <a href="/logout">Logout</a> </p>
</div>

<div>
    <table style="border: 1px solid">
      <tr>
        <th colspan="2">User Data</th>
      </tr>
      {% for key, value in user_data.items() %}
      <tr>
        <td>{{ key }}</td>
        <td>{{ value  }}</td>
      </tr>
      {% endfor %}
    </table>
</div>


<div>
    <form method="POST" action="#">
      <table>
        <th colspan="2"></th>
        <tr>
          <td>Blood Pressure:</td>
          <td> <input type="text" name="bp" placeholder="bp" required> </td>
        </tr>
         <tr>
          <td>Blood Suger:</td>
          <td>  <input type="text" name="bs" placeholder="bs" required> </td>
        </tr>
        <tr>
          <td>C-Level:</td>
          <td>  <input type="text" name="c" placeholder="c" required> </td>
        </tr>
        <tr colspan="2">
          <td><input type="submit" value="submit"></td>
        </tr>
      </table>
    </form>
</div>
</body>
</html>