<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
</head>
<body>

<div>
    <form method="POST" action="/signup">
      <table>
        <th colspan="2"></th>
        <tr>
          <td>Username/email:</td>
          <td> <input type="text" name="username" placeholder="Username" required> </td>
        </tr>
         <tr>
          <td>Password:</td>
          <td>  <input type="password" name="password" placeholder="Password" required> </td>
        </tr>
        <tr>
          <td>Name:</td>
          <td>  <input type="text" name="name" placeholder="name" required> </td>
        </tr>
        <tr>
          <td>Address:</td>
          <td> <input type="text" name="address" placeholder="address" required> </td>
        </tr>
         <tr>
          <td>Contact:</td>
          <td> <input type="text" name="contact" placeholder="contact" required> </td>
        </tr>
        <tr colspan="2">
          <td><input type="submit" value="submit"></td>
        </tr>
      </table>
    </form>
</div>

</body>
</html>

